html, body {
	height: 100%;
}

body {
	font-family: 'IBM Plex Sans KR', sans-serif;
	background-color: #ffffff;
	padding: 10px;
}

/* 로고 글꼴, 색상 설정 */
h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 35px;
	color: #25aa90;
	display: inline;
}

.hidden {
	color: #f5e172;
	font-size: 4ch;
	visibility: hidden;
}

.report {
	color: #f5e172;
	font-size: 4ch;
}

/* 상단 로고 고정 */
.header-logo {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	text-align: center;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 0;
	height: 5rem;
	background-color: white;
	padding-top: 15px;
	width: 360px;
	z-index: 3;
}

/* 상단 메뉴바 고정 */
.header-menu {
	text-align: center;
	position: fixed;
	display: flex;
	justify-content: space-between;
	left: 0;
	right: 0;
	top: 5rem;
	margin: 0 auto;
	height: 5rem;
	background-color: white;
	padding-top: 15px;
	width: 360px;
	min-width: 360px;
	max-width: 360px;
	z-index: 3;
}

/* 아이콘 설정 */
.icon {
	font-size: 40px;
	color: #25aa8f7e;
}

i {
	color: #25aa90;
}

/* 바깥 컨테이너 설정 */
.container.out {
	width: 360px;
	min-width: 360px;
	max-width: 360px;
	padding: 9rem 10px 10px 10px;
	margin: auto;
	display: block;
}

/* 프로필 컨테이너 설정 - flexbox */
.container.profile {
	/* Flex - 정렬을 위한 컨테이너 */
	display: flex;
	flex-wrap: wrap;
	padding: 0px;
	/* 주축 방향 정렬 */
	justify-content: center;
	/* 교차축 방향 정렬 */
	align-items: center;
	text-align: center;
}

/* 피드 컨테이너 설정 */
.tab-content {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;;
	margin: auto;
	display: block;
	max-width: 470px;
}

/* 프로필 썸네일 설정 */
.img-thumbnail {
	width: 70px;
	height: 70px;
}


/* Flexbox 안의 아이템 모바일 */
.item.img {
	/* margin-right: 50px; */
	flex-basis: 100px;
	height: 72px;
	flex-grow: 0;
	flex-shrink: 0;
}

.item.post {
	flex-basis: 20%;
}

.item.follower {
	flex-basis: 20%;
}

.item.following {
	flex-basis: 20%;
}

.item.nick {
	flex-basis: 100%;
}

.item.intro {
	flex-basis: 100%;
}

.item.update, .item.write {
	flex-basis: 161px;
}

.btn:hover {
	background-color: #25aa8f7e !important;
	color: white !important;
}

.btn {
	background-color: #25aa90;
	color: white;
}


.btn.follow, .btn.message {
	width: 166px;
}

.btn.unfollow{
	background-color: #25aa8f7e !important;
	width: 166px;
}

.row {
	margin: 0px;
	align-items: center;
}

.col-sm-6 {
	width: 492px;
}

.col-sm-6>img {
	width: 100%;
}

.lcs {
	font-size: 2ch;
}

.feed-bt {
	border: 0cm;
	background-color: #ffffff;
}

/* 피드 관련 css */
.info {
	font-size: 12px;
}

/* follow 탭 아이콘 클릭했을 때 */
.bb.active {
	color: #25aa90 !important;
}

.bb{
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	color: #25aa8f7e;
	width:180px;
}


.list {
	display: flex;
	align-items: center;
}

.img-thumbnail.follow {
	max-width: 50px;
	max-height: 50px;
}



/*-----------이하 모달 창 관련 --------------------------------------------------------------*/
#modal.modal-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(1.5px);
	-webkit-backdrop-filter: blur(1.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	z-index: 3;
}

#modal .modal-window {
	background: rgba(255, 255, 255, 1);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(13.5px);
	-webkit-backdrop-filter: blur(13.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	width: 360px;
	height: 480px;
	position: relative;
	top: -100px;
	padding: 10px;
	z-index: 3;
}

.modal-container {
	width: 100%;
	padding: 10px;
	margin: 0px auto;
	display: block;
}

.container-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* 뒤로가기 버튼 */
.back {
	font-size: 15px;
	color: #25aa90;
	margin-left: 5px;
	width: 70px;
}

.tab-content .b {
	padding: 0px;
}

/* follow 탭 아이콘 클릭되지 않은 상태 */
.bb {
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	color: #25aa8f7e;
	width: 155px;
}

/* follow 탭 아이콘 클릭했을 때 */
.bb.active {
	color: #25aa90 !important;
}

.follow-list {
	width: 340px;
	height: 320px;
	overflow-y: hidden;
	overflow: auto;
}

.list {
	display: flex;
	align-items: center;
}

.img-thumbnail.follow {
	width: 50px;
	height: 50px;
}


/* 화면크기가 992px이 넘어갔을때 적용되는 css */
@media ( min-width : 800px) {
	/* 바깥 컨테이너 설정 */
	.container.out {
		max-width: 700px;
	}

	/* 상단 로고 관련 설정 */
	.hidden {
		margin-right: 150px;
	}
	.report {
		margin-left: 150px;
	}

	/* 상단 메뉴바 설정 */
	.icon {
		font-size: 40px;
		margin-left: 30px;
		margin-right: 30px;
	}

	/* 프로필 컨테이너 설정 */
	.container.profile {
		justify-content: flex-end;
		text-align: left;
	}
	
	.tab-content{
		max-width: 1200px;
	}

	/* 프로필 썸네일 설정 */
	.img-thumbnail {
		width: 70px;
		height: 70px;
	}
	.img-thumbnail.feed {
		width: 70px;
		height: 70px;
	}
	.item.img {
		order: 1;
		flex-basis: 35%;
		padding-top: 15px;
		height: 60px;
	}
	.item.post {
		order: 5;
		flex-basis: 140px;
		padding-top: 15px;
		margin-bottom: 15px;
	}
	.item.follower {
		order: 6;
		flex-basis: 140px;
		padding-top: 15px;
		margin-bottom: 15px;
	}
	.item.following {
		order: 7;
		flex-basis: 140px;
		padding-top: 15px;
		margin-bottom: 15px;
	}
	.item.nick {
		order: 2;
		flex-basis: 20%;
	}
	.item.update {
		order: 3;
		flex-basis: 20%;
	}
	.item.write {
		order: 4;
		flex-basis: 20%;
	}
	.item.intro {
		order: 8;
		padding-left: 240px;
		margin-top: 15px;
	}
	.btn.follow, .btn.message, .btn.unfollow {
		width: 135px;
	}

	/* 반려동물 썸네일 설정 */
	.img-thumbnail.animal {
		width: 70px;
		height: 70px;
	}
	
	/* 이하 모달창 관련  */
	.modal-container {
		width: 100%;
		max-width: 750px;
		margin: auto;
		display: auto;
	}	
}

.navbar{
	flex-wrap:nowrap;	
}
